$primary: rgb(62, 110, 199);
$deepblue: #154275;
$border: #768BA5;
$undertext: rgb(204, 204, 204);


@import "node_modules/bootstrap/scss/bootstrap";

@keyframes slideInFromRight {
    0% {    
        transform: translateX(100%);
    }
    100% {
    transform: translateX(0);
    }
}

@keyframes makeOneCol {
    0%{
        transform: translate(100%, 0%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}

@keyframes makeOneRow {
    0%{
        transform: translate(-100%, 0%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}


@keyframes slideInFromLeft {
    0% {    
        transform: translateX(-100%);
    }
    100% {
    transform: translateX(0);
    }
}


@keyframes opacityFromLeft {
    0% {
        opacity: 0.3;
    }
    25%{
        opacity: 0.35;
    }
    50%{
        opacity: 0.4;        
    }
    75%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.9;        
    }
}

@keyframes opacityFromRight {
    0% {
        opacity: 0.3;
    }
    25%{
        opacity: 0.35;
    }
    50%{
        opacity: 0.4;        
    }
    75%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.9;        
    }
}

@mixin btnColor {
    color: $white;
                background-color: $deepblue;
                border: 1px solid $border;
                font-size: 1em;
                margin-top: 10px;
                margin-right: 10px;
                border-radius: 4px;
}
@mixin btnColorHover {
    color: $deepblue;
    background-color: $white;
    border: 1px solid $border;
    font-size: 1em;
    border-radius: 4px;
    outline: none;
}
.tableHeader{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    .viewBtn{
        height: 2em;
        width: 3em;
        &:hover{        
        @include btnColorHover();
        }
        &:focus{        
        @include btnColorHover();
        }
        @include btnColor();
    }
    .headerBtn{
        font-size: 23px;
    }
    h3{
        color: $primary;
        margin-top: 10px;
    }
}
#affectAll{
    animation: 1s ease-out slideInFromLeft, 1s linear opacityFromLeft;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    
    .allBtn{
        height: 2.5em;
        
        &:hover{
        
        @include btnColorHover();
        }
        @include btnColor();
    }
}
.skillsetDiv{
    max-width: 80%;
}
#personSkillset{
    display: flex;
    flex-direction: row;
    max-width: 70%;

    
    
    #personSkillsetRow1{
        width: 60%;
        margin-left: 100px;
        display: flex;
        flex-direction: column;   
        animation: 1s ease-out slideInFromLeft, 1s linear opacityFromLeft; 
        tr{
            td{
            width: 5%;
            }
        }
    }
    #personSkillsetRow2{
        width: 60%;
        display: flex;
        flex-direction: column;
        animation: 1s ease-out makeOneRow, 1s linear opacityFromLeft;
    }
}
#header{
    padding: 0px 0px 20px 20px;
    background-color: $deepblue;
    color: $white;
    display: flex;
    flex-direction: row;
}
#headerText{
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
    p{
        font-size: 1.2em;
        min-width: 200px;
        color: $undertext;
    }
    h4{        
        min-width: 200px;
    }
    h5{
        color: $undertext;
    }
    #headerInfo{
        position: absolute;
        bottom: 0;
    }
}

#sideImage{
    position: fixed;
    right: 0px;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    height: 3000px;
    width: 2000px;
    z-index: -1;
    opacity: 0.08;
    min-width: 100%;
    min-height: 200%;
}
#projects{
    margin-top: 150px; 
    margin-left: 100px;
    margin-right: 40%;
    min-width: 800px;
    .project{
        margin-bottom: 50px;
        max-width: 1200px;
        .projImg{
            height: 250px;
}
    }
}
.profileImage{
    width: 250px;
    height: 300px;
    border: 3px solid $border;
    margin-top: 50px;
    margin-left: 150px;
}

#language{
    margin-left: 10px;
    h6{
        margin-top: 10px;
        color: white;
    }
}

@media screen and (max-width: 991px) {
    body{
        font-size: 0.8em;
        h1{
            font-size: 2em;
        }
        h5{
            font-size: 1.5em;
        }
    }
    #sideImage{
        width: 1000px;
        height: 2000px;
    }
    .profileImage{
        margin-left: auto;
        margin-right: auto;
    }
    #header{
        flex-direction: column;
        min-width: 200px;
        padding-left: 5px;
    }
    #headerText{
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #email{
        margin-top: 30px;
        
    }
    #personSkillset{
        display: unset;
        font-size: 1em;
        h5, p{
            margin-left: 100px;
        }
        #personSkillsetRow1{
            margin-left: 100px;
            font-size: 1em;
        }
        #personSkillsetRow2{
            margin-left: 100px;
            font-size: 1em;
            animation: 1s ease-out makeOneCol, 1s linear opacityFromRight;
        }
    }
    .skillsetDiv{
        margin-right: 10px;
        width: 80%;
    }
    table{
        margin-left: -80px;
        
        margin-right: 30px;
    }
    #projects{
        margin-top: 150px; 
        margin-left: 10%;
        margin-right: 40%;
        max-height: 200px;
        min-width: 600px;

        .project{
            .projImg{
                height: 200px;
            }
        }
    }
    }

    @media screen and (max-width: 768px) {
        #projects{
            margin-top: 150px; 
            margin-left: 10%;
            margin-right: 40%;
            min-width: 200px;
        }
    }
